# 0. Imports

In [1]:
import mlflow

In [2]:
mlflow.set_tracking_uri('http://127.0.0.1:5000')
mlflow.set_experiment('prob_loan')
client = mlflow.tracking.MlflowClient()

# 1. Model From Production

In [3]:
model_production_uri = 'models:/modelo.joblib/production'

In [4]:
model_production = mlflow.pyfunc.load_model(model_production_uri)

/home/felipe/miniconda3/envs/mlflow_env/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading artifacts: 100%|██████████| 7/7 [00:00<00:00, 852.80it/s]

In [8]:
import pandas as pd
df_test = pd.read_csv('../data/raw/test.csv')

In [9]:
df_test.head()

,Unnamed: 0,TaxaDeUtilizacaoDeLinhasNaoGarantidas,Idade,NumeroDeVezes30-59DiasAtrasoNaoPior,TaxaDeEndividamento,RendaMensal,NumeroDeLinhasDeCreditoEEmprestimosAbertos,NumeroDeVezes90DiasAtraso,NumeroDeEmprestimosOuLinhasImobiliarias,NumeroDeVezes60-89DiasAtrasoNaoPior,NumeroDeDependentes
0,0,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,1,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,2,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,3,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,4,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [10]:
model_production.predict(df_test)

2025/05/19 22:00:41 WARNING mlflow.models.utils: Found extra inputs in the model input that are not defined in the model signature: `['Unnamed: 0']`. These inputs will be ignored.

array([[0.90530454, 0.09469546],
       [0.90696997, 0.09303003],
       [0.97532104, 0.02467896],
       ...,
       [0.98599712, 0.01400288],
       [0.95893235, 0.04106765],
       [0.93308134, 0.06691866]], shape=(101503, 2))