# 0. Imports

In [1]:
import sys
sys.path.insert(0, '../src/')

import mlflow
from predict.predict import Predict

# 1. Predictions

In [2]:
import pandas as pd
df_test = pd.read_csv('../data/raw/test.csv')

In [3]:
pred = Predict(df_test)

In [4]:
results = pred.run()

2025-05-20 21:40:12 [info     ] Iniciando a precição...
2025-05-20 21:40:14 [info     ] Predições finalizadas.
2025-05-20 21:40:14 [info     ] Salvando as probabildiades...
2025-05-20 21:40:14 [info     ] Resultados salvos na base de dados.

In [5]:
results

        probabilidade_default
0                    0.094695
1                    0.093030
2                    0.024679
3                    0.115495
4                    0.200851
...                       ...
101498               0.088491
101499               0.327141
101500               0.014003
101501               0.041068
101502               0.066919

[101503 rows x 1 columns]